* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    border-radius: 2em;
    padding: 3em;
    box-shadow: 0px 0px 37px -3px rgb(61, 153, 61);
}

h1 {
    text-align: center;
}

.oculto {
    display: none;
}

button {
    padding: .5em 2em;
    border-radius: .4em;
    margin: 2em;
    border: none;
    box-shadow: rgba(210, 209, 209, 0.19) 0px 10px 20px, rgba(155, 154, 154, 0.23) 0px 6px 6px;
}

#enviar-informacion {
    background-color: rgb(61, 153, 61);
    color: white;
    border: none;

}

.integrantes {
    text-align: center;
    margin-top: 2em;
}

.integrantes label,
.integrantes input {
    display: block;
    margin-bottom: 10px; 
    margin-left: auto;
    margin-right: auto;
}
